.chat-img {
    display: inline-block;
    width: 45px;
    vertical-align: top;
}
.chat-content {
    width: calc(100% - 140px);
    display: inline-block;
    padding-left: 15px;
    .box {
        display: inline-block;
        margin-bottom: 10px;
    }
}
.bg-light-info {
    background-color: #cfecfe;
}
.chat-time {
    display: inline-block;
    text-align: right;
    width: 80px;
    font-size: 13px;
    color: #90a4ae;
}
.box {
    border-radius: 4px;
    padding: 10px;
}
.chat-img {
    display: inline-block;
    width: 45px;
    vertical-align: top;
}